body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1eb3;
    color: #37b857;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 2em;
}

.intro {
    text-align: center;
    padding: 20px;
}

.performance {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #ffffff;
}

.metric-container div {
    text-align: center;
    width: 200px;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 1.2em;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
